#clockCircle {
    border-radius: 100%;
    margin-top: 8vw;
    width: 80vw;
    height: 80vw;
    border: var(--borderThickness) solid var(--ccDarkGray);
}

#clockTime {
    text-align: center;
    margin-top: 22vw;
    font-size: 20vw;
}

#clockControl {
    margin-top: 3vw;
    width: 40vw;
    margin-left: 20vw;
}

#clockControl:active {
    background-color: var(--ccSuperDarkGray);
    color: white;
}

#colorInput {
    width: 80vw;
    position: absolute;
    bottom: 10vw;
}

input[type=range] {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    background: transparent; /* Otherwise white in Chrome */
}
  
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}
  
input[type=range]:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}


#colorInput::-webkit-slider-thumb {
    margin-top: 0;
    -webkit-appearance: none;
    border: none;
    /* border-left: var(--borderThickness) solid var(--ccDarkGray); */
    width: var(--borderThickness);
    background-color: var(--ccDarkGray);
    border: 1px solid #000000;
    height: 5vw;

}

#colorInput::-webkit-slider-runnable-track {
    width: 100%;
    height: calc(calc(var(--borderThickness) * 2) + 5vw);
    cursor: pointer;
    /* box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; */
    background: linear-gradient(90deg, white, var(--ccRed), var(--ccYellow), var(--ccBlue), var(--ccRed));
    border-radius: 3vw;
    border: var(--borderThickness) solid var(--ccDarkGray);
}

#ms {
    font-size: 10vw; 
    margin-top: 3px;
    color: var(--ccDarkGray);
}